*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
}

ul, 
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

input,
select {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}
