* {
  margin: 0;              /* отступы внешние */
  padding: 0;             /* отступы внутренние */
}

ul, 
ol {
  list-style: none;       /* маркеры */
}

a {
  color: inherit;         /* цвет: наследуемый */
  text-decoration: none;  /* нижнее подчеркивание */
}

input,
button {
  color: inherit;         /* цвет: наследуемый */
  font-size: inherit;     /* шрифт: наследуемый */
  background: none;       /* бэкграунд */
  border: none;           /* рамка */
  cursor: pointer;        /* курсор */
}

select {
  border: none;           /* рамка */
  appearance: none;       /* стрелочка */
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-weight: 400;       /* выделение жирным */
  font-size: inherit;     /* размер текста: наследуемый */
}

img {
  width: 100%;            /* размер: 100% родителя */
}
