.care {
  padding: 30px 15px;
  color: var(--color-primary);
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-size-big;
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
  }

  &__copy {
    margin-top: 10px;

    &:first-of-type {
      margin-top: 20px;
    }
  }

  &__image-block {
    height: 72vw;
    border: 1px solid var(--border-color-primary);
    border-radius: $border-radius-primary;
    overflow: hidden;

    img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}