.clients {
  padding: 30px 15px;
    
  &__wrapper {
    display: grid;
    gap: $gap-size-big;
  }

  &__brands {
    display: grid;
    gap: $gap-size-big;
    grid-template-columns: repeat(2, 1fr);
    color: var(--color-primary);

    img {
      fill: currentColor;
    }
  }
}
