.download {
  padding: 30px 15px;
  color: var(--color-primary);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-size-big;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-primary);
  }

  &__copy {
    margin-top: 10px;
    font-size: 14px;
  }

  &__links {
    margin-top: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: $gap-size-smil;
  }

  &__link {
    display: block;
    width: 150px;
    height: 44px;
  }

  &__imege-block {
    height: 70vw;
    border: 1px solid var(--border-color-primary);
    border-radius: $border-radius-primary;
    overflow: hidden;
    

    img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}