.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-color-primary);
  border-bottom: 1px solid var(--border-color-primary);

  &__wrapper {
    height: 50px;
    padding: 0 15px;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 77px;
    height: 30px;
    color: var(--color-primary);

    svg {
      height: 100%;
      fill: currentColor;
    }
  }

  &__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: $gap-size-average;
  }

  &__lang {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    height: 30px;
    border: 1px solid var(--color-primary);
    border-radius: $border-radius-secondary;
    overflow: hidden;
    color: var(--color-primary);

    img {
      position: absolute;
      z-index: -1;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      width: 9px;
      height: 6px;
      fill: currentColor;
    }

    select {
      padding-left: 8px;
      width: 100%;
      height: 100%;
      color: var(--color-primary);
      background-color: var(--bg-color-primary);
      border-bottom: 1px solid var(--border-color-primary);
    }
  }

  &__theme {
    width: 26px;
    height: 26px;
  }
}