.app {
  --border-color-secondary: #000;
  --border-color-checkbox-on:#00A1FF;
  --border-color-checkbox-off:#CCC;
  --bg-primary: #FFF;
  --bg-footer: #484848;
  --bg-checkbox-on: #00A1FF;
  --bg-checkbox-off: #EEE;
}
.app.light {
  --color-primary: #000;
  --border-color-primary: #AAA;
  --bg-color-primary: #FFF;
}
.app.dark {
  --color-primary: #FFF;
  --border-color-primary: #FFF;
  --bg-color-primary: #484848;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

input,
select {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/Nunito/Nunito-Regular.woff2") format("woff2");
  src: url("assets/fonts/Nunito/Nunito-Regular.woff") format("woff");
  src: url("assets/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/Nunito/Nunito-Bold.woff2") format("woff2");
  src: url("assets/fonts/Nunito/Nunito-Bold.woff") format("woff");
  src: url("assets/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  padding-top: 50px;
  font-family: "Nunito", sans-serif;
  font-style: 14px;
  font-weight: 400;
}
body .app {
  background: var(--bg-color-primary);
}
body .app input {
  font-size: 16px;
}
body .app img {
  width: 100%;
}
.menu {
  display: none;
  background: var(--bg-color-primary);
}
.menu.active {
  display: block;
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
}
.menu__item {
  padding: 24px 15px;
  font-size: 24px;
  border-bottom: 1px solid var(--border-color-primary);
  color: var(--color-primary);
}

.burger {
  width: 30px;
  height: 20px;
  position: relative;
}
.burger::before, .burger::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  border-radius: 10px;
  transition: all 2s;
}
.burger::before {
  top: 0;
  background: var(--color-primary);
}
.burger::after {
  bottom: 0;
  background: var(--color-primary);
}
.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  background: var(--color-primary);
  border-radius: 10px;
}
.burger.active::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.burger.active span {
  display: none;
}
.burger.active::after {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.column img {
  width: 40px;
  height: 40px;
}
.column__title {
  font-size: 16px;
  font-weight: 700;
}
.column__list {
  margin-top: 20px;
  font-size: 14px;
  display: grid;
  gap: 10px;
}
.column__item {
  font-size: 14px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-color-primary);
  border-bottom: 1px solid var(--border-color-primary);
}
.header__wrapper {
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.header__logo {
  width: 77px;
  height: 30px;
  color: var(--color-primary);
}
.header__logo svg {
  height: 100%;
  fill: currentColor;
}
.header__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__lang {
  position: relative;
  display: flex;
  align-items: center;
  width: 50px;
  height: 30px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  overflow: hidden;
  color: var(--color-primary);
}
.header__lang img {
  position: absolute;
  z-index: -1;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 6px;
  fill: currentColor;
}
.header__lang select {
  padding-left: 8px;
  width: 100%;
  height: 100%;
  color: var(--color-primary);
  background-color: var(--bg-color-primary);
  border-bottom: 1px solid var(--border-color-primary);
}
.header__theme {
  width: 26px;
  height: 26px;
}

.download {
  padding: 30px 15px;
  color: var(--color-primary);
}
.download__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.download__title {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-primary);
}
.download__copy {
  margin-top: 10px;
  font-size: 14px;
}
.download__links {
  margin-top: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.download__link {
  display: block;
  width: 150px;
  height: 44px;
}
.download__imege-block {
  height: 70vw;
  border: 1px solid var(--border-color-primary);
  border-radius: 20px;
  overflow: hidden;
}
.download__imege-block img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.footer {
  padding: 30px 15px;
  color: var(--color-primary);
  background: var(--bg-footer);
}
.footer__wrapper {
  display: grid;
  gap: 30px;
}
.footer__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__logo {
  width: 216px;
  height: 23px;
}
.footer__copy {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}
.footer__dev {
  display: flex;
  justify-content: center;
}
.footer__dev img {
  width: 130px;
  height: 46px;
  margin-top: 10px;
}

.warranty {
  padding: 30px 15px;
  color: var(--color-primary);
}
.warranty__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.warranty__title {
  font-size: 26px;
  font-weight: 700;
}
.warranty__copy:first-of-type {
  margin-top: 20px;
}
.warranty__copy {
  margin-top: 10px;
  font-size: 14px;
}
.warranty__image-block {
  height: 72vw;
  border: 1px solid #aaa;
  border-radius: 20px;
  overflow: hidden;
}
.warranty__image-block img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.care {
  padding: 30px 15px;
  color: var(--color-primary);
}
.care__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.care__title {
  font-size: 26px;
  font-weight: 700;
}
.care__copy {
  margin-top: 10px;
}
.care__copy:first-of-type {
  margin-top: 20px;
}
.care__image-block {
  height: 72vw;
  border: 1px solid var(--border-color-primary);
  border-radius: 20px;
  overflow: hidden;
}
.care__image-block img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.cashback {
  padding: 30px 15px;
  color: var(--color-primary);
}
.cashback__title {
  font-size: 26px;
  font-weight: 700;
}
.cashback__copy {
  margin-top: 10px;
}
.cashback__copy:first-of-type {
  margin-top: 20px;
}
.cashback__button {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #AAA;
}

.clients {
  padding: 30px 15px;
}
.clients__wrapper {
  display: grid;
  gap: 30px;
}
.clients__brands {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  color: var(--color-primary);
}
.clients__brands img {
  fill: currentColor;
}

.modal {
  display: none;
  background: rgba(0, 0, 0, 0.6);
}
.modal.active {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__body {
  position: relative;
  width: calc(100vw - 30px);
  padding: 30px 20px;
  display: grid;
  gap: 20px;
  background: #fff;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .modal__body {
    width: 290px;
    transition: all 1s;
  }
}
.modal__close {
  position: absolute;
  right: -5px;
  top: -34px;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__close img {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
}
.modal__title {
  font-size: 18px;
  font-weight: 700;
}

.form {
  display: grid;
  gap: 15px;
}
.form__field {
  display: block;
  position: relative;
  height: 30px;
  border-bottom: 1px solid #AAA;
}
.form__field input {
  display: block;
  width: 100%;
  padding: 5px;
}
.form__field input::placeholder {
  color: #AAA;
}
.form__field span {
  position: absolute;
  left: 5px;
  bottom: 4px;
  font-size: 16px;
  color: #AAA;
}
.form__field select {
  position: relative;
  display: block;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 5px;
}
.form__checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
}
.form__checkbox input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--bg-checkbox-off);
  border: 1px solid var(--border-color-checkbox-off);
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}
.form__checkbox input[type=checkbox]:checked {
  background-color: var(--bg-checkbox-on);
  border-color: var(--border-color-checkbox-on);
}
.form__checkbox input[type=checkbox]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-image: url("assets/icons/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}
.form__checkbox a {
  color: #000;
  text-decoration: none;
  vertical-align: middle;
}
.form__checkbox a:hover {
  text-decoration: underline;
}
.form__submit {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #222;
  border-radius: 30px;
}

/*# sourceMappingURL=style.css.map */
