@mixin font_face(
  $path,
  $fileName,
  $family,
  $weight
) {
  @font-face {
    font-family: $family;
      src: url('#{$path}/#{$fileName}.woff2') format('woff2');
      src: url('#{$path}/#{$fileName}.woff') format('woff');
      src: url('#{$path}/#{$fileName}.ttf') format('truetype');
      font-weight: $weight;
      font-style: normal;
      font-display: swap;
}
}