body {
  padding-top: 50px;
  font-family: 'Nunito', sans-serif;
  font-style: 14px;
  font-weight: 400;
}

input {
  font-size: 16px;
}

img {
  width: 100%;
}

.app {
  background: var(--bg-color-primary);
}

.warranty, .care, .cashback, .clients, .modal {
  // display: none;
}
