.column {
  img {
    width: 40px;
    height: 40px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
  }

  &__list {
    margin-top: 20px;
    font-size: 14px;
    display: grid;
    gap: 10px;
  }

  &__item {
    font-size: 14px; 
  }
}